Repository zyno-io/uxrr: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

#  https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: 'npx oxlint --fix --fix-suggestions --fix-dangerously {staged_files}'
      stage_fixed: true
    format:
      glob: '*.{js,ts,jsx,tsx,json,vue,yaml,yml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

v0.1.0
  package.json
  packages/api/package.json
  packages/client/package.json
  packages/ui/package.json
Due: format

Fix Playwright E2E timeouts by adding missing client SDK build step
  .github/workflows/ci.yml
Due: format

v0.1.0
  .github/workflows/ci.yml
  .gitlab-ci.yml
  packages/client/README.md
  packages/client/package.json
Due: format

v0.1.1
  package.json
  packages/api/package.json
  packages/client/package.json
  packages/ui/package.json
Due: format

Fix 500s on missing resources: use findOneOrUndefined + HttpNotFoundError
  packages/api/src/controllers/admin.controller.ts
  packages/api/src/services/user.service.ts
Due: lint, format

Update CHANGELOG for v0.1.2
  CHANGELOG.md
Due: none

v0.1.2
  package.json
  packages/api/package.json
  packages/client/package.json
  packages/ui/package.json
Due: format

fix release notes builder [ci skip]
  .github/workflows/ci.yml
Due: format

Handle HTTP 413/410 in client, fix idle session lifecycle bugs
  .oxfmtrc.json
  .serena/project.yml
  packages/api/openapi.yaml
  packages/api/src/controllers/admin.controller.ts
  packages/api/src/controllers/ingest.controller.ts
  packages/api/src/database/entities/app.entity.ts
  packages/api/src/database/entities/session.entity.ts
  packages/api/src/middleware/origin.guard.ts
  packages/api/src/migrations/00000001_000000_add_previous_session_id.ts
  packages/api/src/migrations/00000002_000000_add_max_idle_timeout.ts
  packages/api/src/services/app-resolver.service.ts
  packages/api/src/services/ingest.service.ts
  packages/api/tests/ingest-controller.spec.ts
  packages/client/src/__tests__/idle-monitor.spec.ts
  packages/client/src/__tests__/ingest-buffer.spec.ts
  packages/client/src/__tests__/session.spec.ts
  packages/client/src/idle-monitor.ts
  packages/client/src/session.ts
  packages/client/src/support/connection.ts
  packages/client/src/tracing/provider.ts
  packages/client/src/tracing/span-processor.ts
  packages/client/src/transport/http.ts
  packages/client/src/transport/ingest-buffer.ts
  packages/client/src/types.ts
  packages/client/src/uxrr.ts
  packages/ui/src/components/AppFormModal.vue
  packages/ui/src/pages/SessionDetail.vue
  packages/ui/src/pages/SharedSessionDetail.vue
Due: lint, format

Fix previousSessionId entity type: string → UUID to match Postgres column
  packages/api/src/database/entities/session.entity.ts
Due: lint, format

remove serena fiels
  .serena/.gitignore
  .serena/memories/VRT_API_ROUTES_AND_TYPES.md
  .serena/memories/project-architecture.md
  .serena/memories/testing-patterns.md
  .serena/memories/testing-plan.md
  .serena/project.yml
Due: format

bump deps, virtual scroller
  package.json
  packages/api/package.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/ui/package.json
  packages/ui/src/components/ConsolePanel.vue
  packages/ui/tsconfig.json
  yarn.lock
Due: format

LocalStack -> MiniStack
  .github/workflows/ci.yml
  .gitlab-ci.yml
  CONTRIBUTING.md
  TESTING-PLAN.md
  docker-compose.test.yml
  docs/guide/architecture.md
  docs/self-hosting/configuration.md
  docs/self-hosting/deployment.md
  docs/self-hosting/requirements.md
  packages/api/tests/integration/ingest-roundtrip.spec.ts
  resources/dev/docker-compose.yml
Due: lint, format

Playwright image bump
  .gitlab-ci.yml
Due: format

clean up old files
  PLAN.md
  TESTING-PLAN.md
Due: none

improved future contrast
  packages/ui/src/components/ConsolePanel.vue
  packages/ui/src/components/NetworkPanel.vue
Due: format

handle multiple tabs sharing sessionStorage
  packages/client/src/__tests__/session.spec.ts
  packages/client/src/session.ts
  packages/client/src/uxrr.ts
Due: lint, format

ci: deploy via dag instead of the clusterwide runner
  .gitlab-ci.yml
  .oxfmtrc.json
  resources/helm/chart/Chart.yaml
  resources/helm/chart/templates/deployment.yaml
  resources/helm/chart/templates/ingress.yaml
  resources/helm/chart/templates/migration-job.yaml
  resources/helm/chart/templates/secret.yaml
  resources/helm/chart/templates/service.yaml
  resources/helm/chart/values.yaml
Due: format

Fix session rotation limits
  lefthook.yml
  packages/api/openapi.yaml
  packages/api/src/controllers/admin.controller.ts
  packages/api/src/controllers/ingest.controller.ts
  packages/api/src/database/entities/app.entity.ts
  packages/api/src/middleware/origin.guard.ts
  packages/api/src/migrations/00000003_000000_add_max_session_duration.ts
  packages/api/src/services/app-resolver.service.ts
  packages/api/tests/app-resolver.spec.ts
  packages/api/tests/ingest-controller.spec.ts
  packages/client/src/__tests__/ingest-buffer.spec.ts
  packages/client/src/__tests__/session.spec.ts
  packages/client/src/__tests__/uxrr.spec.ts
  packages/client/src/session.ts
  packages/client/src/transport/http.ts
  packages/client/src/transport/ingest-buffer.ts
  packages/client/src/types.ts
  packages/client/src/uxrr.ts
  packages/ui/src/components/AppFormModal.vue
Due: lint, format

bump deps
  .gitlab-ci.yml
  .yarnrc.yml
  packages/api/package.json
  packages/client/package.json
  packages/ui/package.json
  yarn.lock
Due: format

dep updates
  .yarnrc.yml
  THIRD-PARTY-LICENSES.md
  package.json
  packages/api/package.json
  yarn.lock
Due: format

fix CI dependency compatibility
  packages/api/package.json
  packages/api/tsconfig.json
  packages/ui/package.json
  packages/ui/src/openapi-client.ts
  yarn.lock
Due: lint, format

update otel bootstrap
  packages/api/src/bootstrap.ts
Due: lint, format

bump deps
  packages/api/package.json
  yarn.lock
Due: format

fix SessionUserIdEntity extension
  packages/api/src/database/entities/session-user-id.entity.ts
Due: lint, format

fix client SDK TypeScript compatibility
  package.json
  packages/client/package.json
  yarn.lock
Due: format

fix CI migration command
  .gitlab-ci.yml
Due: format

align Playwright CI image
  .gitlab-ci.yml
Due: format

wait for rrweb player initialization
  packages/ui/src/components/ReplayPlayer.vue
Due: format

pin compatible rrweb toolchain
  package.json
  packages/client/package.json
  packages/ui/package.json
  yarn.lock
Due: format

stabilize replay screenshots
  packages/ui/tests/e2e/live-session-share-and-replay.spec.ts
Due: lint, format

order replay events chronologically
  packages/ui/src/__tests__/replay-segments.spec.ts
  packages/ui/src/components/ReplayPlayer.vue
  packages/ui/src/components/replay-segments.ts
  packages/ui/src/composables/useSessionDetail.ts
  packages/ui/tests/e2e/live-session-share-and-replay.spec.ts
Due: lint, format

wait for complete replay persistence
  packages/ui/tests/e2e/live-session-share-and-replay.spec.ts
Due: lint, format

upgrade rrweb to stable 2.1.0
  .yarn/patches/rrweb-player-npm-2.1.0-71ad07e3ec.patch
  package.json
  packages/client/package.json
  packages/ui/package.json
  packages/ui/src/__tests__/rrweb-player.spec.ts
  yarn.lock
Due: lint, format

remount live replay from fresh snapshots
  packages/ui/src/__tests__/useLivePlayerController.spec.ts
  packages/ui/src/__tests__/useSessionDetail.spec.ts
  packages/ui/src/composables/useLivePlayerController.ts
Due: lint, format

restore rrweb player controller lifecycle
  .yarn/patches/rrweb-player-npm-2.1.0-71ad07e3ec.patch
  packages/ui/src/__tests__/rrweb-player.spec.ts
  yarn.lock
Due: lint, format

include yarn patches in container builds
  Dockerfile
Due: none
